@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@475&display=swap');

@media only screen and (max-width: 960px) {
    #backphoto {
      background-image: url(../images/head.png);
    min-height: 100vh;
    background-size: cover;
    }
    
    
  }


#backphoto {
    background-image: url(../images/header.png);
    min-height: 100vh;
    background-size: cover;

}
.frmod {
    font-family: "Playwrite FR Moderne", cursive;
}
.orbiton {
    font-family: "Orbitron", sans-serif;
  font-weight: 475;
  font-style: normal;
}
p {
  font-size: 1.5rem;
}
.mensi {
  font-size: 1.1rem;
}
#nadpis {
    padding-bottom: 5rem;
    max-width: 100vh;
}
video {
  width: 100%;
  height: auto;
}
.album .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.album .responsive-container-block.bg {
  max-width: 1320px;
  margin: 0 0 0 0;
  justify-content: space-between;
}

.album .img {
  width: 100%;
  margin: 0 0 20px 0;
}


.album .responsive-container-block.img-cont {
  flex-direction: column;
  max-width: 33.3%;
  min-height: auto;
  margin: 0 0 0 0;
  height: 100%;
}


.album .img.img-big {
  height: 50%;
  margin: 0 0 16px 0;
}

@media (max-width: 920px) {
  .album .img {
    width: 100%;
    margin: 0 0 0 0;

  }

  .album .responsive-container-block.bg {
    flex-direction: column;
   
  }

  .album .responsive-container-block.img-cont {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }

  .album .img.img-big {
    max-width: 100%;
    margin: 0 0 0 0;
   
  }
} 

